{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
  {% include 'navbaradmin.html.twig' %}
    <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h3>Editer la valeur de "{{custom.key}}"</h3>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button class="btn btn-success" type="submit">Editer</button>
    {{ form_end(edit_form) }}
    <a class='pull-right' href="{{ path('acceuil_admin_index') }}"><button class="btn btn-primary">Retour au panneau d'administration</button></a>
</div>
{% endblock %}
