<!DOCTYPE html>
<html>
<head>
	<title>A prendre en main</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="../node_modules/slick-carousel/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/styles.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/progress.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/newsletter.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/list.css')}}">

</head>
<body style="font-family: Lato">

<header>
<ul>
		<li><a href="{{ path("acceuil_default_index")}}"><img src="{{asset('img/logo.png')}}"></a></li>
		<li><a href="#charityDetails">Le projet</a></li>
		<li><a href="#FinancialSection">Crowdfunding</a></li>
		<li><a href="#memberSection">L'équipe</a></li>
		<li><a href="#newsSection">Les actus</a></li>
		<li><a href="#partnersSection">Nos partenaires</a></li>
		<li><a href="#contactSection">Contact</a></li>
</ul>
</header>

<div class="openMenu">
	<div class="one"></div>
	<div class="two"></div>
	<div class="three"></div>
</div>

<div class="menuBurger visible">
	<ul>
		<li><img src="{{asset('img/logo.png')}}"></li>
		<li><a href="#charityDetails">Le projet</a></li>
		<li><a href="#financialSection">Crowdfunding</a></li>
		<li><a href="#membersSection">L'équipe</a></li>
		<li><a href="#newsSection">Les actus</a></li>
		<li><a href="#partnersSection">Nos partenaires</a></li>
		<li><a href="contactSection">Contact</a></li>
	</ul>
</div>
{% if posts %}
<div class="financialLabel"><a href="#FinancialSection">Crowdfunding</a></div>
{% endif %}
<section id="mainHeader">
	<h1>A prendre en main</h1>
	<h2>Des projets collaboratifs pour une vie meilleure</h2>
	{% if posts %}
	<a href="#FinancialSection"><button>Participer</button></a>
	{% endif %}
	<div class="float"></div>
	<ul>
		<li><a href="#projectDescription"><img id="mouse" src="{{asset('img/mouse.svg')}}"></a>
	<a href="#" class="playAnimation">Jouer l'animation</a></li>
		<li><a href="#projectDescription"><img id="arrowDown" src="{{asset('img/arrowDown.svg')}}"></a>
	<a href="#" class="playAnimation">Ou en savoir plus</a></li>
	</ul>
</section>

<section id="charityDetails">
	{% for post in posts %}
	<h1>{{ post.title }}</h1>
	<h2>En quelques mots</h2>
	<p>{{ post.description }}</p>
	<div class="rightSide">
		<h3>Nos valeurs</h3>
		<div class="highlight"><span class="highlightText">Diversite, Respect, Volonte d’aider, Partage.</span></div>
	</div>
	<p class="quotation">{{post.quote}}</p>
</section>

<section id="projectDescription">
	<div class="leftSide">
		<h1>{{post.projectTitle}}</h1>
		<h2>{{post.localisation}}</h2>
		<ul class="listeDeroulante">
			<li>
				<a href="" id="context"><p class="menuitem">Contexte</p></a>
				<ul id="contextContainer" style="display:none;">
					<li><p>{{ post.conText }}</p></li>
				</ul>
			</li>
			<li>
				<a href="" id="objectifchiffres"><p class="menuitem">Objectifs chiffrés</p></a>
				<ul id="objectifsContainer" style="display:none;">
					<li><p>{{ post.objectifChiffre }}</p></li>
				</ul>
			</li>
			<li>
				<a href="" id="coutProjet"><p class="menuitem">Coût du projet</p></a>
				<ul id="coutContainer" style="display:none;">
					<li><p>{{ post.coutProjet }}</p></li>
				</ul>
			</li>
			<li>
				<a href="" id="realisationDate"><p class="menuitem">Date de réalisation</p></a>
				<ul id="dateContainer" style="display:none;">
					<li><p>{{ post.dateRealisation }}</p></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="rightSide">
		<span class="highlightText">60%</span>
		<span class="description">De la population africaine n’a pas accès à l’eau potable.</span>
	</div>
	<div class="maskContent">
		<span class="highlightText">
			L'acces a une eau saine, notre priorite
		</span>
	</div>


	<div class="projectDetails">
		<span class="projectTitle">Ce projet permettra</span>
		<div class="projectIcons">
			<ul>
				<li><img src="{{asset('img/medical.png')}}">Réduire les risques d’apparition et de propagation de maladies d’origine hydrique.</li>
				<li><img src="{{asset('img/school.png')}}">Aux jeunes enfants, sur qui repose la tâche de la collecte de l’eau, de consacrer plus de temps à leurs études.</li>
				<li><img src="{{asset('img/money.png')}}">aux femmes de pouvoir mener une activité économique (vente de denrées alimentaires).</li>
			</ul>
		</div>
	</div>
</section>

<section id="FinancialSection">
	<div class="headerSection">
		<h1>Financement du projet</h1>
		<h2>Comment participer ?</h2>
		<span class="highlightText">{{ post.cost}}€</span>
		<h3>A récolter</h3>
	</div>
	<div class="financialDetails">
		<span class="joinUs">Rejoins nous</span>
		<a href="#" class="ululeLink"><span class="fundingSite">sur Ulule</span></a>
		<p class="financialPercentage"></p>
		<p class="financialNumbers">
			(<span class="amountRaised">1</span>/<span class="amountTarget">1</span>€ )<br/>
			des fonds récoltés pour
		</p><br/></br/>
		<ul>
		<li><img src="{{asset('img/wrench.png')}}">Les travaux</li>
		<li><img src="{{asset('img/helmet.png')}}">L'équipement nécessaire</li>
		<li><img src="{{asset('img/people.png')}}">La formation du commité local</li>
		</ul>
		<ul>
		<li><img src="{{asset('img/presentation-whiteboard.png')}}">La formation des habitants</li>
		<li><img src="{{asset('img/printed.png')}}">Les dépliants de sensilisation</li>
		</ul>
	</div>
</section>
	{% endfor %}

<section id="memberSection">
	<div class="headerSection">
		<h1>L'equipe</h1>
		<span class="highlightText">{{users|length}} membres</span>
	</div>

	<div class="carouselMembers">
    {% for user in users %}
    	<div>
    		<div class="memberCard">
    			<div class="left"><img src="{{asset('uploads/images/users/' ~ user.path)}}"></div>
    			<div class="right"><p class="memberName">{{user.blaze}}</p>
    			<p class="memberDescription">{{user.description}}</div>
    		</div>
    	</div>
    {% endfor %}
	</div>

	</div>
	<span class="highlightText">engages</span>
</section>

<section id="newsSection">
	<h1>actualites</h1>
	<div class="carouselNews">
		{% for new in news %}
		<div class="news">
			<img src="{{asset('uploads/images/news/' ~ new.path)}}">
			<div class="content">
			<span class="highlightText"></span>
			<h2>{{new.title}}</h2>
			<p>{{new.description|slice(0, 100)}} ...
			<a class="more" target="_blank" href="{{ path("new_show", { 'id': new.id, "news":new} )}}">Lire la suite</a>
			</p>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<section id="partnersSection">
	<div class="headerSection">
		<h1>Nos partenaires</h1>
		<span class="highlightText">Notre soutien</span>
	</div>
	<ul>
		<li><img src="{{asset('img/attineos.png')}}">Attineos</li>
		<li><img src="{{asset('img/digital.png')}}">Digital village</li>
		<li><img src="{{asset('img/montpellierbs.png')}}">Montpellier Business School</li>
	</ul>
</section>

<section id="contactSection">
	<div class="headerSection">
		<h1>Nous contacter</h1>
		<h2>Nous sommes là pour vous répondre</h2>
		<img src="{{asset('img/carte_afrique_contact.png')}}">
	</div>
	<img src="{{asset('img/letter.png')}}">
	<form class="sendmail">
		<div class="alert alert-success" style="display: none">
		  <strong>Succès!</strong> Votre message a bien été envoyé.
		</div>
		<img src="{{asset('img/travel.svg')}}">
		<label for="name">Nom* :</label>
		<input type="text" name="name" id="name">

		<label for="email">Email* :</label>
		<input type="text" name="email" id="email">

		<label for="subject">Sujet</label>
		<input type="text" name="subject" id="subject">

		<textarea placeholder="Message"></textarea>
	</form>
	<input type="submit" id="send" name="sendMail" value="Envoyer">
</section>

<a href="#mainHeader"><img class="arrow-up" src="{{asset('img/arrows.svg')}}"></a>

<footer>
	<ul>
		<li><img src="{{asset('img/facebook-logo.png')}}">Partager notre projet
et  aidez nous à changer le monde</li>
		<div id="newsletterFooter" style="font-family: Lato">
			<h1>Newsletter</h1>
			<form class="subscribeNewsletter">
				<label class="labelNewsletter" for="nameSub">Nom* :</label>
				<input class="inputNewsletter" type="text" name="nameSub" id="nameSub">

				<label class="labelNewsletter" for="emailSub">Email* :</label>
				<input class="inputNewsletter" type="text" name="emailSub" id="emailSub">
			</form>
			<input type="submit" id="subscribe" name="subscribe" value="S'inscrire">
		</div>
		<li><h1>a prendre en main</h1><a href="{{ path("acceuil_default_index")}}"><img src="{{asset('img/logo.png')}}"></a></li>
	</ul>
</footer>
</body>

<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{{asset('js/app.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/index.js')}}"></script>
<script type="text/javascript" src="{{asset('js/list.js')}}"></script>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/slick-carousel/slick/slick.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var getData = function() {
        var ululeName = '{{customs[0].value}}';
        var ululeKey = '{{customs[1].value}}';
        var ululeProject = '{{customs[2].value}}';
        var ajaxUrl = 'https://api.ulule.com/v1/projects/' + ululeProject;
        var ajaxHeader = 'ApiKey ' +  ululeName + ':' + ululeKey;
        $.ajax({
            url: ajaxUrl,
            beforeSend: function(request) {
                request.setRequestHeader("Authorization", ajaxHeader);
            },
            type: 'GET',
            success: function(data) {
                var name = data.name_fr;
                var link = data.absolute_url;
                var goal = data.goal;
                var raised = data.amount_raised;
                var finished = data.finished;
                var percentage = Math.floor((raised / goal) * 100);
				$('.financialPercentage').html(percentage + '%');
				$('.ululeLink').attr('href', link);
				$('.amountRaised').html(raised);
				$('.amountTarget').html(goal);


			}
        });
    }
    getData();
    setInterval(function() {
        getData();
    }, 500);
});

</script>
</html>
