{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ post.author }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ post.contenu }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td><img src="{{ asset('uploads/images/posts/') ~ post.path }}"</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>

          {% if post.author == user %}
          <li>
              <a href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a>
          </li>
          {% endif %}

        {% for role in user.roles %}
          {% if role == "ROLE_ADMIN"%}
          <li>
              {{ form_start(delete_form) }}
                  <input type="submit" value="Delete">
              {{ form_end(delete_form) }}
          </li>
          {% endif %}
        {% endfor %}

    </ul>
{% endblock %}
