{% extends 'base.html.twig' %}

{% block body %}
  {% include 'navbaradmin.html.twig' %}
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#articles" aria-controls="profile" role="tab" data-toggle="tab">Articles</a></li>
      <li role="presentation"><a href="#utilisateurs" aria-controls="utilisateurs" role="tab" data-toggle="tab">Utilisateurs</a></li>
      <li role="presentation"><a href="#actualites" aria-controls="actualites" role="tab" data-toggle="tab">Actualités</a></li>
      <li role="presentation"><a href="#config" aria-controls="config" role="tab" data-toggle="tab">Configuration</a></li>
  </ul><br/>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="articles">
        <div class="panel panel-default">
          <table class="table table-hover table-striped">
          <thead>
              <tr>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Author</th>
                  <th>Contenu</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
          {% for post in posts %}
              <tr>
                  <td>{{ post.title }}</td>
                  <td>{{ post.description }}</td>
                  <td>{{ post.author }}</td>
                  <td>{{ post.contenu }}</td>
                  <td>
                      <ul>
                          <li>
                              <a href="{{ path('post_show', { 'id': post.id }) }}">Inspecter</a>
                          </li>
                          <li>
                              <a href="{{ path('post_edit', { 'id': post.id }) }}">Éditer</a>
                          </li>
                      </ul>
                  </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
          <a href="{{ path('post_new') }}"><button class="btn btn-success">Créer un nouveau post</button></a>
      </div>
      <div role="tabpanel" class="tab-pane" id="utilisateurs">
      <div class="panel panel-default">
          <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>username</th>
                    <th>password</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('user_show', { 'id': user.id }) }}">Inspecter</a>
                            </li>
                            <li>
                                <a href="{{ path('user_edit', { 'id': user.id }) }}">Éditer</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
        <a href="{{ path('user_new') }}"><button class="btn btn-success">Créer un nouvel utilisateur</button></a>
      </div>
      <div role="tabpanel" class="tab-pane" id="actualites">
        <div class="panel panel-default">
         <table class="table table-hover table-striped">
             <thead>
                 <tr>
                     <th>Id</th>
                     <th>Title</th>
                     <th>Description</th>
                     <th>Actions</th>
                 </tr>
             </thead>
             <tbody>
               {% for news in news %}
                   <tr>
                       <td><a href="{{ path('news_show', { 'id': news.id }) }}">{{ news.id }}</a></td>
                       <td>{{ news.title }}</td>
                       <td>{{ news.description }}</td>
                       <td>
                           <ul>
                               <li>
                                   <a href="{{ path('news_show', { 'id': news.id }) }}">Inspecter</a>
                               </li>
                               <li>
                                   <a href="{{ path('news_edit', { 'id': news.id }) }}">Éditer</a>
                               </li>
                           </ul>
                       </td>
                   </tr>
               {% endfor %}
             </tbody>
         </table>
      </div>
      <a href="{{ path('news_new') }}"><button class="btn btn-success">Créer une nouvelle actualité</button></a>
    </div>
    <div role="tabpanel" class="tab-pane" id="config">
        <div class="panel panel-default">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Clé</th>
                        <th>Valeur</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for custom in custom%}
                    <tr>
                        <td>{{ custom.key }}</td>
                        <td>{{ custom.value }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('custom_edit', { 'id': custom.id }) }}">Éditer</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
{% endblock %}
